@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Smooch&family=Source+Sans+Pro:wght@300&display=swap');

:root {
	--color-primario: #F25C84;
	--color-secundario: white;
	--color-terciario: #d9d8c7;
	--color-cuarto: #8e4162;
	--color-quinto: #41393e;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: var(--color-quinto);
}

a:hover {
	color: var(--color-primario);
}

h1 {
	font-size: 3rem;
	text-align: center;
}

h2 {
	font-size: 3rem;
}

button {
	border: none;
}

button:hover {
	transform: scale(1.02);
	transition: all 0.3s ease;
}

p {
	font-size: 1.2rem;
}

/* ******************************* */
/* HEADER */
/* ******************************* */

header {
	color: var(--color-secundario);
}

nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	background-color: var(--color-secundario);
	width: 100%;
	border-bottom: 1px solid var(--color-terciario);
}

ul {
	width: 50%;
	display: flex;
	justify-content: space-around;
	margin: 1.5rem;
	font-size: 1.5rem;
}

li {
	list-style: none;
}

/* presentación */

.presentacion {
	margin-top: 5rem;
}

.logo2 {
	height: 5rem;
	width: 7rem;
}

#check, .barras {
	display: none;
}

/* slides */

@keyframes slide {
	0% { transform: translateX(0); }
	25% { transform: translateX(0); }

	50% { transform: translateX(-100%); }
	75% { transform: translateX(-100%); }
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
	z-index: -1;
}

.slide {
	width: 100vw;
	animation-name: slide;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: alternate;
}

/* botones */

.botones {
	width: 30rem;
}

.btn-login, .btn-register {
	width: 130px;
	height: 40px;
	color: var(--color-secundario);
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
}

.btn-login {
	background-color: var(--color-primario);
}

.btn-register {
	background-color: var(--color-cuarto);
}

.login:hover {
	color: var(--color-terciario);
}

@media screen and (max-width: 1000px) {
	.bar_btn {
		font-size: 2rem;
		margin: 1.5rem;
		cursor: pointer;
	}

	.barras {
		color: var(--color-primario);
	}

	.nav {
		display: flex;
		flex-direction: column;
		position: fixed;
		width: 100%;
		height: 0vh;
		margin: 5rem 0;
		background: rgba(0, 0, 0, .95);
		text-align: center;
		transition: all .5s;
	}

	.nav li {
		display: none;
		transition: all .5s;
	}

	.nav li a {
		color:var(--color-cuarto);
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 600;
	}

	.nav li a:hover {
		color: var(--color-primario);
		transition: .3s;
	}

	#check {
		display: none;
	}

	#check:checked ~ .nav {
		height: 500px;
	}

	#check:checked ~ .nav li {
		display: block;
	}
}

@media screen and (max-width: 500px) {
	.btn-login {
		width: 60px;
		margin: 0 1rem;
	}

	.btn-register {
		width: 70px;
	}
}

/* ******************************* */
/* SERVICES */
/* ******************************* */

#services {
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services_container {
	display: flex;
	gap: 2rem;
	margin: 4rem 2rem;
	max-width: 1300px;
}

.services_card {
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	border: 1px solid var(--color-terciario);
	padding: 2rem;
	border-radius: 3px;
}

.services_card p {
	text-align: justify;
}

.services_card:hover {
	background-color: var(--color-primario);
	transition: 1s ease;
	border-radius: 15px;
	color: var(--color-secundario);
	cursor: pointer;
}

.services_card:hover > .services_icon {
	color: var(--color-secundario);
	transition: 1s ease;
}

.services_icon {
	color: var(--color-primario);
	font-size: 4rem;
}

@media screen and (max-width: 1000px) {
	.services_container {
		flex-direction: column;
	}

}

/* ******************************* */
/* ABOUT */
/* ******************************* */

#about {
	background-image: url(./img/fondo.jpg);
	background-size: cover;
	color: var(--color-secundario);
	padding: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

#about p {
	max-width: 1000px;
	text-align: center;
}

#about button {
	margin-top: 1rem;
	width: 200px;
	height: 60px;
	color: var(--color-secundario);
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	background-color: var(--color-primario);
	font-size: 1.1rem
}

/* ******************************* */
/* WORKS */
/* ******************************* */

#works {
	padding: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.fotos {
	display: grid;
	grid-template-areas: "uno dos tres"
						"uno cuatro cinco";
	grid-template-columns: 420px 270px 300px;
	grid-template-rows: 320px 320px;
}

.uno {
	grid-area: uno;
	width: 400px;
	height: 620px;
}

.dos {
	grid-area: dos;
}

.tres {
	grid-area: tres;
}

.cuatro {
	grid-area: cuatro;
}

.cinco {
	grid-area: cinco;
}

.foto {
	width: 250px;
	height: 300px;
}

.animada {
	border: 3px solid var(--color-cuarto);
}

.animada:hover {
	transform: scale(1.02);
	transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
	.fotos {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.uno {
		width: 250px;
		height: 300px;	
	}
}

/* ******************************* */
/* CONTACT */
/* ******************************* */

#contact {
	background-image: url(./img/background3.jpg);
	background-size: cover;
	color: var(--color-secundario);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5rem;
}

.contact_container {
	display: flex;
	gap: 2rem;
	margin-top: 2rem;
}

form {
	display: flex;
	flex-direction: column;
	width: 250px;
}

input {
	margin: 1rem 0;
	height: 40px;
	border-radius: 10px;
	border: none;
	padding: 0 1.5rem;
}

.mensaje {
	height: 185px;
}

input::placeholder {
	font-size: 1rem;
	opacity: 1;
	font-family: 'Source Sans Pro', sans-serif;
}

input:focus {
	border: 3px solid var(--color-primario);
	outline: none;
}

@media screen and (max-width: 1000px) {
	.contact_container {
		flex-direction: column;
		gap: 0;
	}

}

/* ******************************* */
/* FOOTER */
/* ******************************* */

footer {
	background-color: black;
	color: var(--color-secundario);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem;
	gap: 2rem;
}

footer p {
	max-width: 1000px;
	text-align: center;
}

.redessociales {
	font-size: 3rem;
}