@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Smooch&family=Source+Sans+Pro:wght@300&display=swap');

:root {
	--color-primario: #F25C84;
	--color-secundario: white;
	--color-terciario: #D3D9C7;
	--color-cuarto: #8e4162;
	--color-quinto: #41393e;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 7rem;
}

h2 {
	font-size: 3rem;
}

button {
	border: none;
}

/* ******************************* */
/* HEADER */
/* ******************************* */

header {
	background: url(fondo.jpg) no-repeat center center;
	background-size: cover;	
	/* background-color: red; */
	height: 80vh;
	color: var(--color-secundario);
}

nav {
	display: flex;
	justify-content: space-between;
	position: sticky;
}

ul {
	width: 50%;
	display: flex;
	justify-content: space-around;
	margin: 1.5rem;
	font-size: 1.5rem;
}

li {
	list-style: none;
}

li a:link {
	color: var(--color-quinto);
}

li a:hover {
	color: var(--color-primario);
}

/* presentación */

.logo {
	position: absolute;
	z-index: 1;
	height: 600px;
	margin: 5rem 10rem;
}

.logo2 {
	height: 5rem;
	width: 7rem;
}

#check {
	display: none;
}

/* slides */

/* @keyframes slide {
	0% { transform: translateX(0); }
	25% { transform: translateX(0); }

	50% { transform: translateX(-100%); }
	75% { transform: translateX(-100%); }
} */

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
	z-index: -1;
}

.slide {
	width: 100vw;
	animation-name: slide;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: alternate;
}

.slides:hover .slide {
	animation-play-state: paused;
}

/* botones */

.botones {
	width: 30rem;
}

.btn-login, .btn-register {
	width: 130px;
	height: 40px;
	color: var(--color-secundario);
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
}

.btn-login {
	background-color: var(--color-primario);
}

.btn-register {
	background-color: var(--color-cuarto);
}

@media screen and (max-width: 1000px) {
	.bar_btn {
		font-size: 2rem;
		margin: 1.5rem;
		cursor: pointer;
	}

	.barras {
		color: var(--color-primario);
	}

	.nav {
		display: flex;
		flex-direction: column;
		position: fixed;
		width: 100%;
		height: 0vh;
		margin: 5rem 0;
		background: rgba(0, 0, 0, .95);
		text-align: center;
		transition: all .5s;
	}

	.nav li {
		display: none;
		transition: all .5s;
	}

	.nav li a {
		color:var(--color-cuarto);
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 600;
	}

	.nav li a:hover {
		color: var(--color-primario);
		transition: .3s;
	}

	#check {
		display: none;
	}

	#check:checked ~ .nav {
		height: 500px;
	}

	#check:checked ~ .nav li {
		display: block;
	}
}

@media screen and (max-width: 500px) {
	.btn-login, .btn-register {
		width: 50px;
		margin: 0 1rem;
	}
}

/* ******************************* */
/* ABOUT */
/* ******************************* */
